img {
  height: 200px;
 }

h1 {
background-color: lightblue;
width: 1000px;
padding: 15px;
margin-bottom: 0px;
border: 1px dashed blue; 
}

ul {
  background-color: salmon;
  margin-bottom: 40px;
  width: 1000px;
  padding: 15px;
  border: 1px dashed blue;
  font-weight: bold;
  font-family: 'Mina', sans-serif;
}

li {
margin-top: 30px;   
margin-bottom: 30px;
padding: 10px;
font-weight: normal;
}

