* {
  background-color: lightblue;
}
img {
  height: 200px;
  padding: 50px;
 }

h1 {
font-size: 1.8em;
text-align: center;
background-color: lightblue;
width: 1245x;
padding: 15px;
margin-bottom: 0px;
font-family: 'Bitter', serif;
}

table, th, td {
  background-color: salmon;
  margin-bottom: 40px;
  width: 1000px;
  padding: 15px;
  border: 1px dashed blue;
  font-family: 'Mina', sans-serif;
}

th{
  font-weight: bold;
}

div {
  margin-bottom: 50px;
}
